
    <!-- Bootstrap NavBar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-danger">
        <div class="col-12 d-flex align-items-center justify-content-between">

            <!-- LOGOTIPO -->
            <!-- <a class="navbar-brand" href="{% url 'home:index' %}">
                <img src="/media/sistema/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                <span class="menu-collapsed">Nel Móveis</span>
            </a>             -->
            
            <!-- Botões Canto Superior Direito -->
            <div>
                {% if user.is_authenticated %}
                        <a class=" btn btn-warning btn-sm" href="{% url 'home:logout' %}">Sair<i class="fas fa-sign-out-alt ml-2"></i></a>
                {% endif %}

                {% if user.is_superuser %}
                    <!-- Abrir Admin New tab-->
                    <a class=" btn btn-primary btn-sm" href="{% url 'admin:index' %}" target="_blank"><i class="fas fa-wrench mr-2"></i>Admin</a>
                {% endif %}
    
            </div>
               
        </div>
    </nav>
    <!-- NavBar END -->

    <!-- Bootstrap row -->
    <div class="row" id="body-row">
        <!-- Sidebar -->
        <div id="sidebar-container" class="sidebar-expanded d-none d-md-block"><!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
            <!-- Bootstrap List Group -->
            <ul class="list-group">
                <!-- Separator with title -->
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                    <small>Menu</small>
                </li>
                <!-- /END Separator -->
                <!-- Menu with submenu -->
                {% for menu in menus %}
                    <a href="#submenu{{ menu.id }}" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="{{ menu.font_awesome_icon }} mr-3"></span> 
                            <span class="menu-collapsed">{{ menu.text }}</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>

                    <div id='submenu{{ menu.id }}' class="collapse sidebar-submenu">
                    {% for submenu in sub_menus %}
                        {% if submenu.parent_menu_id == menu.id %}
                        <a href="{% url submenu.url_or_path %}" class="list-group-item list-group-item-action bg-danger text-white">
                                <i class="{{ submenu.font_awesome_icon }} mr-1" aria-hidden="true"></i>
                                <span class="menu-collapsed">{{ submenu.text }}</span>
                            </a>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endfor %}                

                <!-- Logo -->
                <li class="list-group-item logo-separator d-flex justify-content-center">
                    <img src='https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg' width="30" height="30" />    
                </li>   
            </ul><!-- List Group END-->
        </div><!-- sidebar-container END -->