@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.main_create {
    font-family: Lilita One;
    font-weight: 400;
    background-color: rgb(224, 224, 224);
    border-radius: 8px;
    padding-bottom: 2vh;
    padding-top: 2vh;
    color: black;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
}

.create-form-group {
    margin-bottom: 0.5rem;
    font-size: 20px;
}

.change_img_create {
    cursor: pointer;
}

#imagemPreviewCreate img {
    display: flex;
    height: 40vh;
    width: 15vw;
    min-width: 230px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}