@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.main {
    font-family: Lilita One;
    font-weight: 400;
    display: flex;
    flex-direction: row;
}

.container-left {

}

.container-right {
    
}

.container-right form {
    width: 70%;
}

.form-control {
    border-radius: 10px;
    border: none;
}

.input-field:focus {
    outline: none;
    border: none; 
    box-shadow: none;
  }

.form-group label {
    font-size: 20pt;
    color: white;
}

.esqueceu a {
    text-decoration: underline;
}

.btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.btn .btn-primary {
    align-items: center;
    justify-content: center;
    background-color: #8A01FF;
    border: none;
    color: white;
}

.btn .btn-primary:hover {
    width: 40vw;
    height: 5vh;
    transition: all 0.5s ease;
}
