<form 
action="{{ form_action }}"
method="POST"
>
{% csrf_token %}      

<div class="form-content">

  {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
      {{ field.errors }}
      
      {% if form.non_field_errors and field.id_for_label != 'id_password' %}
        <div class="form-content pt-4">
          <div class="form-group">
            <div class="message error">
              {{ form.non_field_errors }}
            </div>
          </div>
        </div>
      {% endif %}
      
      {% if field.help_text %}
        <p class="help-text">{{ field.help_text }}</p>
      {% endif %}
  {% endfor %}
</div>


<div class="form-content">
  <div class="form-group">
    <button class="btn btn-success btn-block" type="submit">Logar</button>
  </div>
</div>

</form>