{%extends 'base/header.html'%}

{% block 'conteudo' %}

        <h2 class="mb-4" >Usuário Cadastrados</h2>
    
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Id</th>
                <th scope="col">Usuário</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>                            
            {% for usuario in usuarios %}                
                <tr>
                    <th scope="row">{{usuario.id}}</th>
                    <td>{{usuario.username}}</td>
                    <td>{{usuario.first_name}}</td>
                    <td>{{usuario.email}}</td>
                    <td>
                        <a href="{% url 'home:edit' pk=usuario.pk %}" type="button" class="btn btn-warning btn-sm">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a type="button" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
              
            </tbody>
        </table>

{% endblock 'conteudo' %}