{%extends 'base/header.html'%}

{% block 'conteudo' %}

<div class="col-12 d-flex justify-content-center">
  <div class="col-3 card ">
    <div class="card-body form-wrapper">
      
      <div class="text-center">
        <h2>Login</h2>
      </div>
      
      {% include 'alerts/general.html' %}
        {% if user.is_authenticated %}
          <p>
            Você fez login como {{ user.username }}.
            Clique <a href="{% url 'home:logout' %}">aqui</a>
            para sair.
          </p>
        {% else %}
          {% include 'user/_user-form.html' %}
        {% endif %}
    </div>
  </div>
</div>
{% endblock 'conteudo' %}