{%extends 'base/header.html'%}


{%block 'titulo'%}
Home
{%endblock%}

{%block 'conteudo'%}

        <div class="d-flex justify-content-between align-items-center">
            <div class="header">

            </div>
            <div class="p-4">
                <h1 class="text-white">Hobby</h1>
            </div>

            <div>
                <a href="" class="btn btn-success">Cadastrar Hobby</a>
            </div>
        </div>

            <div class="row">

                {% for hobby in hobbies %}
                <div class="col-sm-8 col-md-3">
                    <div class="card shadow-lg">
                        <img src="/media/{{ hobby.imagem }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ hobby.nome }}</h5>
                            <p class="card-text">{{ hobby.descricao }}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

{%endblock%}